.header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
}
.imgs {
    display: flex;
    border-radius: 1px solid dashed #ffff;
}
.img1 {
    border-color: #ffff;
    border-radius: 2px solid #ffff;
}
.pg2 {
    display: flex;
    justify-content: center;
}