* {
    box-sizing: border-box;
    padding-bottom: 1em;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}
table, th, td {
    border: 1px solid black;
}
.header {
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
    padding-top: 3em;
    color: #32a877;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
}

.imgs {
    display: flex;
    position: relative;
}

.img1 {
    border-color: #ffff;
    border-radius: 2px solid #ffff;
}

.pg2 {
    display: flex;
    justify-content: center;
}
.links {
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
    padding-top: 5em;
    color: #ffff;
    justify-content: space-around;
    align-items: center;
    font-size: xx-large;
}
.table {
    display: flex;
    align-items: center;
    justify-content: center;
}
.home_link {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.imgs_page1 {
    display: flex;
    justify-content: space-between;
    padding: 0 1em;
    height: 400px;
    width: auto;
}
.header_3 {
    display: flex;
    align-items: center;
    justify-content: space-around;
}