<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <title>Page 1</title>
</head>
<body>
    <div>
        <h1 style="display: flex; align-items: center; justify-content: center;">
            Page 1
        </h1>
        <div class="table">
            <table>
                <tr>
                    <td>Desert</td>
                    <td>Calories</td>
                    <td>Fat</td>
                    <td>Carbs</td>
                </tr>
                <tr>
                    <th>Frozen Yogurt</th>
                    <th>159</th>
                    <th>6</th>
                    <th>24</th>
                </tr>
            </table>
        </div>
        <div style="display: flex; justify-content: space-between; padding: 0 1em;">
            <h3>clouds</h3>
            <h3>boxed water</h3>
            <h3>road</h3>
        </div>
        <div class="imgs_page1">
            <img src="../imgs/clouds.jpeg" alt="clouds">
            <img src="../imgs/boxed-water.jpeg" alt="boxed-water">
            <img src="../imgs/lukesplash.jpeg" alt="road">
        </div>
        <div class="home_link">
            <a href="../index.html">
                <button>Home</button>
            </a>
            <button id="btn_color" onclick="changeColor()"><p>Change color</p></button>
        </div>
    </div>
    <script src="../index.js"></script>
</body>
</html>